.habitations {
  display: flex;
  flex-wrap: wrap;
  max-width: 1240px;
  padding-left: 0;
  margin: 0 auto;
  border-radius: 25px;
  background-color: #f6f6f6;
  padding: 1.5rem;
  justify-content: space-around;
}

@media (max-width: 912px) {
  .habitations {
    background-color: #ffffff;
    padding: 1rem;
    justify-content: space-around;
    border-radius: 10px;
  }
}
