body {
  background-color: rgb(255, 255, 255);
  font-family: 'Montserrat', sans-serif;
  color: #ff6060;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.container-fluid {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
}

a {
  color: #ff6060;
  text-decoration: none;
  padding-right: 4.3rem;
}

a:hover {
  color: #ff6060;
}

.big {
  font-size: 288px;
  font-weight: bold;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.medium {
  font-size: 36px;
  font-weight: 500;
  text-align: center;
  margin: 1rem 0;
}

.small {
  margin-top: 10rem;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.row {
  --bs-gutter-x: 0;
  margin: 0;
}

.row > * {
  padding: 0 0;
}

p {
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 440px) {
  html {
    font-size: 80%;
  }

  a {
    padding-right: 1rem;
    padding-top: 1rem;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 65%;
  }

  a {
    padding-right: 0.8rem;
  }
}
